<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />

  <link rel="icon" href="../static/home/images/fevicon.png" type="image/gif" />

  <title>about</title>

  <link rel="stylesheet" type="text/css" href="../static/home/css/bootstrap.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <link href="../static/home/css/font-awesome.min.css" rel="stylesheet" />
  <link href="../static/home/css/style.css" rel="stylesheet" />
  <link href="../static/home/css/responsive.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body class="sub_page">


  <div class="">
    <header class="header_section long_section px-0">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
          <span>Afsar Store</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feedback">Feedback</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#category" onclick="smoothScroll('#category')">categories</a>
              </li>
            </ul>

          </div>
        </div>
        <div id="myDiv" class="quote_btn-container">
          <a id="alogin" href="/user/login">
            <span id="spanlogin"></span>
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
          <a class="nav-link fa fa-shopping-cart" style="font-size:18px; margin-right: 15px;" href="/view-cart"></a>
          <form class="form-inline">
            <input id="searchBox" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
              oninput="searchProduct(this.value)">
            <button class="btn my-2 my-sm-0 nav_search-btn" type="button">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
          <div id="searchResults" class="search-results"></div>
        </div>
  </div>
  </nav>
  </header>
  </div>
  <style>
    .search-results {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      width: 100%;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 10px;
    }

    .search-item {
      cursor: pointer;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
    }

    .search-item:hover {
      background-color: #f9f9f9;
    }

    .view-details-btn {
      background-color: #007bff;
      color: #fff;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .view-details-btn:hover {
      background-color: #0056b3;
    }

    .search-item:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  </style>
  <script>

    function goToProduct(productId) {
      // Redirect to the product page with the productId
      window.location.href = `/product/${productId}`;
    }
    function smoothScroll(target) {
      var targetElement = document.querySelector(target);
      window.scrollTo({
        top: targetElement.offsetTop,
        behavior: 'smooth'
      });
    }
    const searchResults = document.getElementById('searchResults');

    function searchProduct(searchTerm) {
      const searchResults = document.getElementById('searchResults');

      axios.get(`/search_product?name=${searchTerm}`)
        .then(response => {
          const products = response.data;
          if (products.length === 0) {
            searchResults.innerHTML = '';
            return;
          }

          const searchItems = products.map(product => {
            return `
                <div class="search-item" onclick="goToProduct(${product.product_id})">
                    <img src="../static/home/images/${product.image}" alt="${product.name}" style="width: 50px; height: 50px; margin-right: 10px;">
                    <span>${product.name}</span>
                    <button class="view-details-btn" data-product-id="${product.product_id}">View Details</button>
                </div>`;
          }).join('');

          searchResults.innerHTML = searchItems;
          searchResults.style.display = 'block';
        })
        .catch(error => {
          console.error('Error fetching search results:', error);
        });
    }
  </script>

  <section class="about_section layout_padding long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="../static/home/images/main.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Me
              </h2>
            </div>
            <p>
              I am Sajjad Afsar and I was able to load and bring up this site by myself with flask and Front
              (html/css/js) and react admin technologies. </p>
            <a href="https://github.com/Asajadafsar/Online-Shop">
              Github project
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->




  <section class="info_section long_section">

    <div class="container">
      <div class="contact_nav">
        <a href="tell:09019621710">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>
            Call : +98 9019621710
          </span>
        </a>
        <a href="mailto:sajadafsar@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>
            Email : sajadafsar@gmail.com
          </span>
        </a>
        <a href="https://neshan.org/maps/@34.683858,50.874398,15.3z,0p/search/">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span>
            Location
          </span>
        </a>
      </div>


    </div>
    </div>
    </div>
    </div>
  </section>


  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://sajadafsar.ir">SAJADAFSAR</a>
      </p>
    </div>
  </footer>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <script>
    let loginA = document.getElementById("alogin")
    let spanlog = document.getElementById("spanlogin")
    let tokenlo = localStorage.getItem('token')
    if (tokenlo == null) {
      loginA.href = "/user/login";
      spanlog.textContent = "LOGIN";
    } else {
      loginA.href = "/profile";
      spanlog.textContent = "PROFILE";
    }
  </script>
</body>

</html>