<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="../static/home/images/fevicon.png" type="image/gif" />

    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/home/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
    <link href="../static/home/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/home/css/style.css" rel="stylesheet" />
    <link href="../static/home/css/responsive.css" rel="stylesheet" />

</head>

<body>

    <div class="hero_area">
        <header class="header_section long_section px-0">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/">
                    <span>
                        Afsar Store
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about"> About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/feedback">feedback</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category">Category</a>
                            </li>
                        </ul>
                    </div>
                    <div class="quote_btn-container">
                        <div id="myDiv" class="quote_btn-container">
                            <a id="alogin" href="/user/login">
                                <span id="spanlogin">

                                </span>
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                            <form class="form-inline">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
            </nav>
        </header>



        <section class="contact_section long_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form_container">
                            <div class="heading_container">
                                <h2>feedback Us</h2>
                            </div>
                            <form id="feedbackForm">
                                <div>
                                    <input type="number" id="orderInput" placeholder="order_id...." />
                                </div>
                                <div>
                                    <input type="number" min="1" max="5" id="ratingInput" placeholder="Your rating"
                                        required />
                                </div>
                                <div>
                                    <input type="text" id="commentInput" placeholder="Comment...." />
                                </div>
                                <div class="btn_box">
                                    <button type="submit">SEND</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="map_container">
                            <div class="map">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d103672.62377361643!2d51.462143999999995!3d35.707289599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1712265564119!5m2!1sen!2s"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="info_section long_section">

            <div class="container">
                <div class="contact_nav">
                    <a href="tell:09019621710">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>
                            Call : +98 9019621710
                        </span>
                    </a>
                    <a href="mailto:sajadafsar@gmail.com">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>
                            Email : sajadafsar@gmail.com
                        </span>
                    </a>
                    <a href="https://neshan.org/maps/@34.683858,50.874398,15.3z,0p/search/">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                            Location
                        </span>
                    </a>
                </div>


            </div>
    </div>
    </div>
    </div>
    </section>









    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://sajadafsar.ir">SAJADAFSAR</a>
            </p>
        </div>
    </footer>


    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.8/sweetalert2.min.css"
        integrity="sha512-ZCCAQejiYJEz2I2a9uYA3OrEMr8ZN4BGTwlVYNxsYopLS/WH2bey53SObOKRF4ciHo5gqxgVP/muDloHvWZXHw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        let loginA = document.getElementById("alogin")
        let spanlog = document.getElementById("spanlogin")
        let tokenlo = localStorage.getItem('token')
        if (tokenlo == null) {
            loginA.href = "/user/login";
            spanlog.textContent = "LOGIN";
        } else {
            loginA.href = "/profile";
            spanlog.textContent = "PROFILE";
        }
        const customHeaders = {
            'Authorization': 'Bearer ' + localStorage.getItem('token'),
        };

        // Define the function to handle form submission
        const submitFeedback = async (event) => {
            event.preventDefault();

            // Get form inputs
            const formData = new FormData(feedbackForm);

            // Prepare data for submission
            const feedbackData = {};
            formData.forEach((value, key) => {
                feedbackData[key] = value;
            });

            try {
                const axiosConfig = {
                    method: 'post',
                    url: '/feedback',
                    headers: customHeaders,
                    data: feedbackData
                };
                const response = await axios(axiosConfig);
                localStorage.setItem('feedbackResponse', JSON.stringify(response.data));
            } catch (error) {
                console.error('Error sending feedback:', error.response.data.error);
            }
        };

        // Attach event listener to form submission
        const feedbackForm = document.getElementById('feedbackForm');
        feedbackForm.addEventListener('submit', submitFeedback);
    </script>


</body>