<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="../static/home/images/fevicon.png" type="image/gif" />

    <title>Feedback</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/home/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
    <link href="../static/home/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/home/css/style.css" rel="stylesheet" />
    <link href="../static/home/css/responsive.css" rel="stylesheet" />

</head>

<body>

    <div class="">
        <header class="header_section long_section px-0">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/">
                    <span>Afsar Store</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/feedback">Feedback</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category">Category</a>
                            </li>
                        </ul>
                    </div>
                    <div id="myDiv" class="quote_btn-container">
                        <a id="alogin" href="/user/login">
                            <span id="spanlogin"></span>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <a class="nav-link fa fa-shopping-cart" style="font-size:18px; margin-right: 15px;"
                            href="/cart"></a>
                        <form class="form-inline">
                            <input id="searchBox" class="form-control mr-sm-2" type="search" placeholder="Search"
                                aria-label="Search">
                            <button class="btn my-2 my-sm-0 nav_search-btn" type="button" onclick="searchProduct()">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
    </div>




    <section class="contact_section long_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <div class="heading_container">
                            <h2>Feedback Us</h2>
                        </div>
                        <form id="feedbackForm">
                            <div>
                                <input type="number" id="orderInput" name="order_id" placeholder="Order ID" required />
                            </div>
                            <div>
                                <input type="number" min="1" max="5" id="ratingInput" name="rating"
                                    placeholder="Your rating" required />
                            </div>
                            <div>
                                <input type="text" id="commentInput" name="comment" placeholder="Comment" required />
                            </div>
                            <div class="btn_box">
                                <button type="submit">SEND</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="info_section long_section">

        <div class="container">
            <div class="contact_nav">
                <a href="tell:09019621710">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                        Call : +98 9019621710
                    </span>
                </a>
                <a href="mailto:sajadafsar@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                        Email : sajadafsar@gmail.com
                    </span>
                </a>
                <a href="https://neshan.org/maps/@34.683858,50.874398,15.3z,0p/search/">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                        Location
                    </span>
                </a>
            </div>


        </div>
        </div>
        </div>
        </div>
    </section>









    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://sajadafsar.ir">SAJADAFSAR</a>
            </p>
        </div>
    </footer>


    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.8/sweetalert2.min.css"
        integrity="sha512-ZCCAQejiYJEz2I2a9uYA3OrEMr8ZN4BGTwlVYNxsYopLS/WH2bey53SObOKRF4ciHo5gqxgVP/muDloHvWZXHw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        let loginA = document.getElementById("alogin")
        let spanlog = document.getElementById("spanlogin")
        let tokenlo = localStorage.getItem('token')
        if (tokenlo == null) {
            loginA.href = "/user/login";
            spanlog.textContent = "LOGIN";
        } else {
            loginA.href = "/profile";
            spanlog.textContent = "PROFILE";
        }
        // Add an event listener to the form for the submit event
        document.getElementById('feedbackForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission behavior

            const order_id = document.getElementById('orderInput').value;
            const rating = document.getElementById('ratingInput').value;
            const comment = document.getElementById('commentInput').value;

            let data = JSON.stringify({
                "order_id": order_id,
                "rating": rating,
                "comment": comment
            });

            let config = {
                method: 'post',
                maxBodyLength: Infinity,
                url: 'http://127.0.0.1:5000/feedback',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('token'),
                    'Content-Type': 'application/json'
                },
                data: data
            };

            axios.request(config)
                .then((response) => {
                    Swal.fire({
                        title: 'Success!',
                        text: response.data.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then(() => {
                        // Optional: Perform any additional actions after successful submission
                    });
                })
                .catch((error) => {
                    Swal.fire({
                        title: 'Error!',
                        text: error.response.data.error,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                });
        });
        // const order_id = document.getElementById('orderInput').value;
        // const rating = document.getElementById('ratingInput').value;
        // const comment = document.getElementById('commentInput').value;

        // let data = JSON.stringify({
        //     "order_id": order_id,
        //     "rating": rating,
        //     "comment": comment
        // });
        // let config = {
        //     method: 'post',
        //     maxBodyLength: Infinity,
        //     url: 'http://127.0.0.1:5000/feedback',
        //     headers: {
        //         'Authorization': 'Bearer ' + localStorage.getItem('token'),
        //         'Content-Type': 'application/json'
        //     },
        //     data: data
        // };

        // axios.request(config)
        //     .then((response) => {
        //         Swal.fire({
        //             title: 'Success!',
        //             text: response.data.message,
        //             icon: 'success',
        //             confirmButtonText: 'OK'
        //         }).then(() => {
        //         });
        //     })
        //     .catch((error) => {
        //         Swal.fire({
        //             title: 'Error!',
        //             text: error.response.data.error,
        //             icon: 'error',
        //             confirmButtonText: 'OK'
        //         });
        //     });
    </script>



</body>